<h1 class="subheader">About Us!</h1>
<article>
    <h2>About Gabriel:</h2>
    <p>
        Gabriel has been catching professors since he was a young lad frolicking freely among young, happy Pedrams.
    </p>

    <h2>About Michael:</h2>
    <p>
        Michael is a world class ProfessorMon trainer. When he was 3 years old he caught a Kruskal in the wild and has since won several tournaments against complex algorithms.
    </p>

    <h2>About Justin:</h2>
    <p>
        Justin is a ProfesserMon trainer from the imperial city of College Park, MD. He caught an Angry Anwar once, but let it go immediately because it wasn't worth the effort.
    </p>
</article>