<h1 class="subheader">Info about Class</h1>
<div class="content content-postContent" style="margin-bottom:4em;">
    <h2 id="class_title">{{class.title}}</h2>
    <!--- Displays the professor name -->
    <div id="statsDisplay" style="padding: 0 .5em">
        Professor: <div id="prof_title">{{class.professor}}</div><br>
    </div>
    <hr>

    <h2>Grades:</h2>
    <div id="voltsDisplay" style="padding: 0 .5em">
        {{#each grades}}
    
            <article>
                <h2 class="title">Grade: {{this}}</h2>
                <hr>
                
            </article>
        </a>
        {{else}}
        <article id="noDisplay">
            <h1>There are no grades yet :(</h1>
            <h4>Try adding a grade!</h4>
        </article>
        {{/each}}
    </div>

    <h2>Add a new grade to this class:</h2>
    <form id="the_form" action="">
        grade<input id="grade" autocomplete="off" />
        rating<input id="rating" autocomplete="off" />
        comment<input id="comment" autocomplete="off" />
        author<input id="author" autocomplete="off" />
        <button>Submit</button>
    </form>
    <hr>
</div>

<script src="/socket.io/socket.io.js"></script>
<script type="text/javascript">

    function realspeed(multiplier, bclk) {
        $("#statsDisplay").append(`Effective Clockspeed: ${multiplier * bclk}`);
    }

    var socket = io();
    $('#the_form').submit(function(){ //When send button is pressed
        var grade = parseFloat($('#grade').val());
        var class_str = $('#class_title').text();
        var rating = parseFloat($('#rating').val());
        var comment = $('#comment').val();
        var author = $('#author').val();
        var professor = $('#prof_title').text();
        console.log("grade is " + grade + " class is " + class_str + " rating is " + rating + " comment is " + comment + " author is " + author + " professor is " + professor); 
      socket.emit('new grade', {grade: grade, class: class_str, review: {rating: rating, comment: comment, author: author}, professor: professor});
      $('#grade').val('');
        $('#rating').val('');
        $('#comment').val('');
        $('#author').val('');
      return false; //Ensures the page does not reload
    });

    socket.on('grade added', function(msg) {
        console.log("grade added msg: " + msg);
        alert(msg);
    });
</script>