<div class="content content-postContent">
    <h1 class="subheader">Info about this class</h1>
    <h2 id="class_title">{{class.title}}</h2>

    <div id="statsDisplay" style="padding: 0 .5em">
        <div id="prof_title">Professor: {{class.professor}}</div>
    </div>
</div>

<br>

<div class="content content-postContent">
    <h2>Grades:</h2>
    <div id="voltsDisplay" style="padding: 0 .5em">
        {{#each grades}}
        <article>
            <h2 class="title">Grade: {{this}}</h2>
            <hr>

        </article>
        {{else}}
        <article id="noDisplay">
            <h1>There are no grades yet :(</h1>
            <h4>Why don't you add your grade for this class!</h4>
        </article>
        {{/each}}
    </div>

    <h2>Add a new grade to this class:</h2>
    <form id="the_form" action="">
        <div class="input-field">
            <label>Grade</label>
            <input id="grade" autocomplete="off" placeholder="Your final grade/100"/>
        </div>
        
        <div class="input-field">
            <label>Difficulty Rating</label>
            <input id="rating" autocomplete="off" placeholder="How hard would you rate this class from 1 (easy) to 5 (hard)?"/>
        </div>

        <div class="input-field">
            <label>Comments</label>
            <input id="comment" autocomplete="off" placeholder="Thoughts and comments about this class"/>
        </div>
        
        <div class="input-field">
            <label>Author</label>
            <input id="author" autocomplete="off" placeholder="Your name"/>
        </div>
        
        <button>Submit</button>
    </form>
    
</div>
<script src="/socket.io/socket.io.js"></script>
<script type="text/javascript">

    function realspeed(multiplier, bclk) {
        $("#statsDisplay").append(`Effective Clockspeed: ${multiplier * bclk}`);
    }
    let grade;
    var socket = io();
    $('#the_form').submit(function () { //When send button is pressed
        grade = parseFloat($('#grade').val());
        var class_str = $('#class_title').text();
        var rating = parseFloat($('#rating').val());
        var comment = $('#comment').val();
        var author = $('#author').val();
        var professor = $('#prof_title').text();
        console.log("grade is " + grade + " class is " + class_str + " rating is " + rating + " comment is " + comment + " author is " + author + " professor is " + professor);
        socket.emit('new grade', { grade: grade, class: class_str, review: { rating: rating, comment: comment, author: author }, professor: professor });
        $('#grade').val('');
        $('#rating').val('');
        $('#comment').val('');
        $('#author').val('');
        return false; //Ensures the page does not reload
    });

    socket.on('grade added', function (msg) {
        console.log("grade added msg: " + msg);
        alert(msg);
        var article = document.createElement('article')
        var h2 = document.createElement('h2')
        h2.textContent = "Grade: " + grade;
        var hr = document.createElement('hr')
        article.appendChild(h2)
        article.appendChild(hr)
        $('#voltsDisplay').append(article);
    });
</script>