<h1 class="subheader">Add a new professor to the 'Dex</h1>
<article>
    <form id="the_form" method="POST" action="/create" autocomplete="off" >

        <div class="input-field">
            <label>Name *</label>
            <input id="posttitle" value="" type="text" name="title" size="50" placeholder="No nicknames, only serious business here.">
        </div>

        <hr>
        <div class="input-field">
            <label>Department *</label>
            <select id="cpucategory" name="tags" type="text">
                <option value="na">Select</option>
                <option value="cs">Computer Science</option>
                <option value="math">Math</option>
                <option value="astr">Astronomy</option>
                <option value="atmoc">Atmospheric and Oceanic Science</option>
                <option value="bio">Biology</option>
                <option value="cbmg">Cell Biology and Molecular Genetics</option>
                <option value="chm">Chemistry and Biochemistry</option>
                <option value="ent">Entomology</option>
                <option value="geo">Geology</option>
                <option value="phys">Physics</option>
            </select>
        </div>
        <hr>

        <div class="input-field">
            <label>Strength</label>
            <input id="posttitle" value="" type="text" name="title" size="50" placeholder="What this prof is best at">
        </div>
        <hr>

        <div class="input-field">
            <label>Weakness</label>
            <input id="posttitle" value="" type="text" name="title" size="50" placeholder="What this professor isn't that good at">
        </div>
        <hr>

        <div class="input-field">
            <label>Description</label>
            <textarea type="text" name="content" rows="6" placeholder="Give this prof a short description"></textarea>
        </div>

        <div class="input-field">
            <label>Review:</label>
            <textarea type="text" name="content" rows="6" placeholder="Write a short review...or not"></textarea>
        </div>
        <button type="submit" class="mini-button" onClick="return checkform()">
            <i class="fa fa-arrow-right"></i>
        </button>
    </form>
</article>

<script type="text/javascript">
    $(".manufacturer").on("change", function(){
        var selector = '<option value="i9">i9</option>\n<option value="i7">i7</option>\n<option value="i5">i5</option>\n<option value="i3">i3</option>';
        if($('input[name=company]:checked').val()=="Intel"){
            var selector = '<option value="i9">Intel i9</option>\n<option value="i7">Intel i7</option>\n<option value="i5">Intel i5</option>\n<option value="i3">Intel i3</option>';
        }
        else
            var selector = '<option value="Ryzen 9">Ryzen 9</option>\n<option value="Ryzen 7">Ryzen 7</option>\n<option value="Ryzen 5">Ryzen 5</option>';
        $("#cpucategory").empty()
        $("#cpucategory").append(selector);
    })

    function checkform(){
        console.log("checking form");
        var title = $('#posttitle').val();
        var slug = $('#postslug').val();
        var dept = $('#cpucategory').val();
        var mult = $('#mult').val();
        var bclk = $('#bclk').val();
        var uncore = $('#uncore').val();
        var ram = $('#ramspeed').val();
        //var price = $("#price").val();
        //var score = $("#score").val();

        if(title == "" || slug == "" || mult=="" || bclk==""||uncore==""||ram==""||dept=="na"){
            alert("You must complete all required fields marked with a *");
            $(':input').removeAttr("disabled");
            return false;
        }
        else{
            return true;
        }
    }
</script>