<h1 class="subheader">Add a new professor to the 'Dex</h1>
<article>
    <form id="the_form" autocomplete="off">
        <div class="input-field">
            <label>Name *</label>
            <input id="posttitle" value="" type="text" name="title" size="50"
                placeholder="No nicknames, only serious business here.">
        </div>

        <div class="input-field">
            <label>Department *</label>
            <select id="cpucategory" name="tags" type="text">
                <option value="na">Select</option>
                <option value="CMSC">Computer Science</option>
                <option value="MATH">Math</option>
                <option value="ASTR">Astronomy</option>
                <option value="AOSC">Atmospheric and Oceanic Science</option>
                <option value="BIOL">Biology</option>
                <option value="CBMG">Cell Biology and Molecular Genetics</option>
                <option value="CHEM">Chemistry and Biochemistry</option>
                <option value="ENTM">Entomology</option>
                <option value="GEOG">Geology</option>
                <option value="PHYSC">Physics</option>
            </select>
        </div>

        <div class="input-field">
            <label>Section</label>
            <input value="" type="text" id="section" name="title" size="25" placeholder="Enter section number">
        </div>

        <hr>
        <br>

        <div class="input-field">
            <label>Strength</label>
            <input id="strength" value="" type="text" name="title" size="50" placeholder="What this prof is best at">
        </div>

        <div class="input-field">
            <label>Weakness</label>
            <input id="weakness" value="" type="text" name="title" size="50"
                placeholder="What this professor isn't that good at">
        </div>

        <div class="input-field">
            <label>Description</label>
            <input id="description" type="text" name="content" rows="6"
                placeholder="Give this prof a short description">
        </div>

        <hr>
        <br>
        <div class="input-field">
            <div class="input-field">
                <label>Rating *</label>
                <input value="" type="text" id="rating" name="title" size="25" placeholder="Enter a number from 1-5">
            </div>
            <div class="input-field">
                <label>Review *</label>
                <textarea value="" type="text" id="review" name="title" size="25"
                    placeholder="Give your review of this professor"></textarea>
            </div>
            <div class="input-field">
                <label>Author *</label>
                <input value="" type="text" id="author" name="title" size="25" placeholder="Enter your name">
            </div>
        </div>
        <button type="submit" class="mini-button" onClick="return checkform()">
            <i class="fa fa-arrow-right"></i>
        </button>
    </form>
</article>

<script type="text/javascript">
    $(".manufacturer").on("change", function () {
        var selector = '<option value="i9">i9</option>\n<option value="i7">i7</option>\n<option value="i5">i5</option>\n<option value="i3">i3</option>';
        if ($('input[name=company]:checked').val() == "Intel") {
            var selector = '<option value="i9">Intel i9</option>\n<option value="i7">Intel i7</option>\n<option value="i5">Intel i5</option>\n<option value="i3">Intel i3</option>';
        }
        else
            var selector = '<option value="Ryzen 9">Ryzen 9</option>\n<option value="Ryzen 7">Ryzen 7</option>\n<option value="Ryzen 5">Ryzen 5</option>';
        $("#cpucategory").empty()
        $("#cpucategory").append(selector);
    })

    function checkform() {
        console.log("checking form");
        var title = $('#posttitle').val();
        var dept = $('#cpucategory').val();
        var section = $('#section').val();
        var strength = $('#strength').val();
        var weakness = $('#weakness').val();
        var reviews = $('#review').val();
        var description = $('#descrip').val();
        var rating = $('#rating').val();
        var comment = $('#comment').val();
        var author = $('#author').val();

        if (title == "" || description == "" || section == "" || strength == "" || weakness == "" || reviews == "" || dept == "na"
            || rating == "" || author == "") {
            alert("You must complete all required fields marked with a *");
            $(':input').removeAttr("disabled");
            return false;
        }
        else {
            alert("You add a professor");
            var classes = dept + section;
            console.log("dep ", dept)
            console.log("name ", title)
            console.log("class", classes)
            console.log("section ", section)
            console.log("strength ", strength)
            console.log("weakness ", weakness)
            console.log("description ", description)
            console.log("author ", author)
            console.log("comment ", comment)
            console.log("rating ", rating)
            var sendInfo = JSON.stringify({
                name: title,
                strength: [strength],
                weakness: [weakness],
                classes: [classes],
                reviews: [{
                    rating: rating,
                    comment: comment,
                    author: author
                }],
                description: description
            });
            console.log(sendInfo);
            $.ajax({
                type: "POST",
                url: 'http://localhost:3000/api/post/form',
                contentType: "application/json",

                data: sendInfo,
                sucess: function (data, status) {
                    console.log(data);
                }
            });
        };
    };
</script>