<!DOCTYPE html>
<html lang="en">
<head>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <meta charset="UTF-8">
    <title>Si Lottery</title>
    <link rel="stylesheet" type="text/css" href="/public/main.css">
</head>
<body>
	<div class="container">
		{{>nav}}
	    {{{body}}}
	</div>
</body>
</html>